@keyframes scale-in-tr {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  } 

.monitor-view-top{
    width: 100%;
    background-color: #eb5e92;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.monitor-view-top-title{
    color: #272c2b;
    font-size: 1em;
}

.monitor-view-top-left{
    display: flex;
    align-items: center;

}

.monitor-status{
    margin-left: 1rem;
    background-color: #272c2b;
    padding: .5rem;
    color: whitesmoke;
    border-radius: 10px;
    align-items: center;
}

.monitor-view-top-right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.system-temperature-display{
    color: #272c2b;
    font-size: 1em;
    margin-right: .5rem;   
}

.dropdown-content{
    width: 10rem;
    min-height: 10rem;
    background: #272c2b;
    position: fixed;
    border-radius: 10px;
    right: 2rem;
}
