html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #272c2b;
    opacity: 1;
    background-image: radial-gradient(#eb5e92 2px, transparent 2px), radial-gradient(#eb5e92 2px, #272c2b 2px);
    background-size: 80px 80px;
    background-position: 00,40px40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 3rem;
    display: flex;
    color: #272c2b;
}

    .navbar a {
        background-color: #eb5e92;
        margin: 0 .3rem;
        padding-top: .2rem;
        border-radius: 10px;
        font-weight: 700;
    }

.mdc-text-field--focused .mdc-text-field__input,
.mdc-text-field--invalid .mdc-text-field__input {
    border-color: #eb5e92; /* Custom border color */
}

.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-item {
    margin: 1rem 0;
}

.submit-btn {
    background-color: #eb5e92;
    align-items: center;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .3rem .2rem;
    font-weight: 700;
    transition: all .1s;
    color: #272c2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .submit-btn:hover {
        transform: scale(1.1);
    }

.alert-container {
    position: fixed;
    bottom: 0rem;
    right: 1rem;
}

.alert {
    min-width: 20rem;
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
    color: #272c2b;
    margin: 1rem 0;
}

.alert-success {
    background-color: #269f67;
}

.alert-error {
    background-color: #fcc93b;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.swing-out-top-bck {
    -webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@-webkit-keyframes swing-out-top-bck {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
}

@keyframes swing-out-top-bck {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: #eb5e92 !important;
}

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #23232329;
    }