<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PUBLIC_URI_PREFIX" value="http://*"/>
		<add key="PUBLIC_PORT" value="5050"/>
		<add key="INITIAL_MESSAGE_BUFFER_SIZE" value="1024"/>
		<add key="AMAZON_ACCESS_KEY" value="AKIAZQ3DNPFUNGCWFANH"/>
		<add key="AMAZON_SECRET_KEY" value="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"/>
		<add key="API_ADDRESS" value="http://68.219.120.90:5000/api"/>
	</appSettings>
</configuration>